{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="title">スクレポ入力</h1>
    <div class="wrap">
        <button id="toggle_button">ログイン情報入力</button>
        <form action="/students" method="post" class="login">
            <div class="login-row">
                <label for="user_id" class="login-text">ユーザーID</label>
                <input type="text" inputmode="numeric" id="user_id" name="user_id" value="{{ user_id }}" required>
            </div>
            <div class="login-row">
                <label for="password" class="login-text">パスワード</label>
                <input type="password" inputmode="numeric" id="password" name="password">
            </div>
            <button type="submit" id="fetch_student_info">生徒情報取得</button>
        </form>
    </div>

    {% if error %}
        <div class="no_student_wrap">
            <p class="no_student" style="color: #9B003F;">{{ error | safe }}</p>
        </div>
    {% else %}
        <div class="no_student_wrap">
            <p class="no_student" style="color:#1f2c5c;">授業はありません💤</p>
        </div>
    {% endif %}
</div>

<script>
    // 日付が変わるとローカルストレージを初期化
    window.addEventListener("load", function() {
        const today = new Date().toLocaleDateString();
        const lastAccessDate = localStorage.getItem("last_access_date");

        if (!lastAccessDate || lastAccessDate !== today) {
            localStorage.clear();
            localStorage.setItem("last_access_date", today);
        }
    });

    // ボタンの一時無効化
    document.querySelector(".login").addEventListener("submit", function() {
        const button = document.getElementById("fetch_student_info");
        button.setAttribute("disabled", true);
        button.setAttribute('aria-disabled', true);
        button.textContent = "取得中...";
    });

    // 講師用ログインIDの保存
    document.getElementById("fetch_student_info").addEventListener("click", function() {
        const user_id = document.getElementById("user_id").value;
        localStorage.setItem("user_id", user_id);
    });

    // 講師用ログインIDの格納
    window.addEventListener("load", function() {
        const user_id = document.getElementById("user_id");
        const storedUserId = localStorage.getItem("user_id");
        if (storedUserId) {
            user_id.value = storedUserId;
        }
    });

    // 講師用ログイン情報ボタンの表示
    document.getElementById("toggle_button").addEventListener("click", function() {
        const loginParams = document.querySelector(".login");
        const button = document.getElementById("toggle_button");

        if (loginParams.style.display == "none" || loginParams.style.display == "") {
            loginParams.style.display = "block";
            button.textContent = "ログイン情報非表示";
        } else {
            loginParams.style.display = "none";
            button.textContent = "ログイン情報入力";
        }
    });
</script>
{% endblock %}